<div class="navbar navbar-dark bg-dark menu">
    <ul class="nav justify-content-end lighten-4 py-4">
        <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item my-0">
                <a class="nav-link" href="{% url 'posts' %}">Мои записи</a>
            </li>
            <li class="nav-item my-0">
                <a class="nav-link"
                   href="{% url 'view_profile' %}"><span>
                    {{ user.username }}</span>
                </a>
            </li>
            <li class="nav-item my-0">
                <img class="avatar" src="{{ user.profile.get_avatar_url }}">
            </li>
            <li class="nav-item my-0">
                <a class="nav-link" href="/accounts/logout/">Выход</a>
            </li>
        {% else %}
            <li class="nav-item my-0">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                    Вход
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{# Login modal #}
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Вход</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_login.html' %}
            </div>
        </div>
    </div>
</div>
{# Signup modal #}
<div class="modal fade" id="signupModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_signup.html' %}
            </div>
        </div>
    </div>
</div>